.container {
  width: 500px;
  margin: 50px auto;
  background: #f8faff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input, .select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn {
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.tache {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.completee {
  text-decoration: line-through;
  opacity: 0.6;
}

.btnStatut {
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
}

.btnStatut:hover {
  background-color: #4b47d6;
}

.vide {
  text-align: center;
  color: #777;
  font-style: italic;
}
