body {
  background-color: beige;
  font-size: 16px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: blue;
  margin-top: 30px;
}

section {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fdfdfd;
  width:270px;
}

input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid black;
}

button {
  background-color: brown;
  color: white;
  border: 1px solid black;
  margin-left: 5px;
  border-radius: 4px;
}

button:hover {
  background-color: darkred;
}

ul {
  list-style-type: none;
  width: 280px;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: -18px;
}
.terminee{
  text-decoration: line-through;
  color: gray;
}
span{
  margin-left: 5px;
}
#recherche{
  margin-left: 30px;
  margin-right: 30px;
}
#tout-supprimer{
  margin-left: 30%;
}