.container {
  width: 400px;
  margin: 40px auto;
  background: #f9fbff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.produit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.nom {
  width: 100px;
}

input {
  width: 60px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
